body{
	color:#dfe6e9;
	background: #636e72 url("../images/pexels.jpeg") no-repeat right top;
	background-size:cover;
    font-family: "Roboto",-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}
.row {
	display:flex;
}

.btn-primary {
	color:#dfe6e9;
	background-color:#2d3436;
	border-color:#636e72;
}
.btn-primary:hover {
	color:#2d3436;
	background-color:#dfe6e9;
	border-color:#636e72;
}

.mastfoot {
	position:absolute;
    bottom: 0;
    background-color:rgba(0, 0, 0,0);
    text-align:center;
}

.loginForm{
	margin-top:20vh;
	height:25vh;
	width:100%;
}
.registerForm{
	margin-top:10vh;
	height:45vh;
	width:100%;
}

.forgotPassword {
	text-decoration:none;
	color:#dfe6e9;
}
.forgotPassword:hover {
	text-decoration:none;
	color:#b2bec3;
}

.header{
	margin-top:10vh;
}

h1,h2,h3 {
	color:#dfe6e9;
}

h1 {
	font-size:3.375em;
}

h2 {
	font-size:2.25em;
}

h2 {
	font-size:1.5em;
}

.loginForm, .registerForm {
	background-color:rgba(45, 52, 54,0.90);
	border-radius:5px;
	padding:1em;
}