body{
	background-color:#636e72;
	color:#dfe6e9;
    font-family: 'Open Sans', sans-serif;
}


/* SLICK */
.smSlickItem {
    height:390px;
    width:235px;
}
.slickImage {
    height:310px;
    width:210px;
    margin: auto;
}
.slickActions{
	padding-left:5px;
}


/* NAV */
.navbar {
	background-color:#dfe6e9;
	color:#2d3436;
    border-color:#636e72;
    font-family: 'Roboto', sans-serif;
    font-size:1.2em;
}
.navbar-brand {
    color:#636e72;
}
.navbar-brand:hover {
    color:#b2bec3;
}
.navStyle a{
    color:#636e72;
}
.nav > li > a:hover, .nav > li > a:focus{
    color:#dfe6e9;
    background-color:#636e72;
}
.router-link-active{
    color:#dfe6e9;
    background-color:#636e72;
}


/* MODAL */
.modal {
    position: fixed;
    width: 80%;
    left: 10%;
    height: 80%;
    top: 10%;
    background-color: #636e72;
    border-radius: 3px;
}
.modal-dialog {
    width:100%;
    max-height:100%;
}
.modal-header {
    margin-top:-30px;
}
.modal-body{
    margin-top:0px;
    padding-top:0px;
}
.modal-body{
    background-color:#636e72;
}
h2.modal-title{
    font-size:2.5em;
}
.modal-content {
    margin-top:0px;
    padding-top:0px;
    border:0px solid rgba(0, 0, 0, 0.2);
    position:absolute;
    width:100%;
    height:100%;
}
.modal-close {
    width:10vw;
    float:right;
    background-color:#dfe6e9;
    border:1px solid #636e72;
    border-radius:5px;
    color:#636e72;
}
.modal-close:hover {
    background-color:#b2bec3;
    color:#636e72;
}
.modal-image {
    position:absolute;
    top:100%;
    bottom:5%;
    width:90%;
    background-size:contain;
}
.modalActions{
    padding-top:15px;
}
.list-group-item {
    background-color:#636e72;
    border: 0px solid #dfe6e9;
    margin-top:5px;
}
.li_header{
    font-size:2.2em;
    font-family: 'Roboto', sans-serif;
}
.li_item{
    color:#b2bec3;
    font-size:1.6em;
    font-family: 'Open Sans', sans-serif;
}



/* SPACING */
.space{
    margin-top:60px;
}
.noSpace{
    margin-top:-10px;
}


/* WATCH LATER/HIDE BUTTONS */
.btnHolder{
    text-align:center;
}
.btnHolder button {
    width:3vw;
    background-color:#dfe6e9;
    border:1px solid #636e72;
    border-radius:5px;
    color:#636e72;
    padding-top:0px;
    margin-top:0px;
}
.btnHolder button:hover {
    background-color:#b2bec3;
    color:#636e72;
}
.modalBtnHolder button {
    width:5vw;
    font-size:1.6em;
}



/* COLOURS */
h2 {
	color:#dfe6e9;
    font-family: 'Roboto', sans-serif;
    font-weight:400;
}



/*  
 * Rating styles
 */
.rating {
	width: 75%;
    text-align:center;
	font-size: 2.2em;
	overflow:hidden;
    text-decoration: none;
}
.rating input {
  float: right;
  opacity: 0;
  position: absolute;
  text-decoration: none;
}
.rating a,
.rating label {
	float:right;
	color: #2d3436;
	opacity:0.25;
	text-decoration: none;
	-webkit-transition: color .6s;
	-moz-transition: color .6s;
	-o-transition: color .6s;
	transition: color .6s;
    text-decoration: none;
}
.rating label:hover ~ label,
.rating input:focus ~ label,
.rating label:hover,
.rating a:hover,
.rating a:hover ~ a,
.rating a:focus,
.rating a:focus ~ a		{
	opacity:1;
	color: #dfe6e9;
	cursor: pointer;
    text-decoration: none;
}
.rating {
	direction: rtl;
    text-decoration: none;
}
.rating a {
	float:none
    text-decoration: none;
}
.modalRating{
    font-size:1.8vw;
}












/* NO DROPDOWN AT THE MOMENT */









/* Dropdown Button */
.dropbtn {
    background-color: #2d3436;
    color: #dfe6e9;
    padding:16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #2d3436;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #dfe6e9;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #636e72;
}
